<h1>CSS811 Data</h1>
<div class="chart-container" style="position: relative; height:80vh; width:90vw">
    <canvas id="myChart"></canvas>
</div>

<h1 hidden="" id="no_measurement_hint">No new measurement</h1>
